*, 
*::after, 
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
}

@mixin responsive() {
  @media screen and (max-width: 960px) {
    @content;
  }
}

@mixin responsive-large() {
  @media screen and (min-width: 1440px) {
    @content;
  }
}

@import 'partials/colors';
@import 'partials/spacing';


body {
  width: 100%;
  height: 100vh;
  background-color: $blue-dark;
}

img, svg {
  display: block;
  width: 100%
}

a {
  text-decoration: none;
  color: $white;
}

.border {
  border: 1px solid red;
}

p {
  font-size: 14px;
  color: $gray-3;
  letter-spacing: 1px;
  line-height: 140%;
}

@import 'partials/layout';
@import 'partials/menu';
@import 'partials/buttons';
@import 'partials/animations';

footer {
  padding: 0 16px 32px 16px;
  p {
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
  }
}
